<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Zone of Wars Forum</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Geostar+Fill&family=Sarpanch&family=Syncopate&display=swap" rel="stylesheet">


        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="style.css">
    </head>    
    <body>
        <h1>Zone of Wars Forum</h1>

        <section class="container clearfix">
            <section id="inputContainer">
                <form action='/blogPost' method="POST">
                    <input type="text" placeholder="Name" name="name">
                    <textarea type="text" placeholder="Message" rows='3' name="message"></textarea>
                    <button class="button-85" id='postButton' type="submit">Post</button>
                </form>
                <div>
                    <button class="button-30" id="delete-button">Delete Blank Posts</button>
                </div>
                <div id="message"></div>
            </section>

            <ul id="postContainer">
                <% for(var i = 0; i < rebirthPosts.length; i++) {%>
                    <li class="singlePost">
                        <h2><%= rebirthPosts[i].name %></h2>
                        <span><%= rebirthPosts[i].message %></span>
                        <span id='likeNumber'><%= rebirthPosts[i].likes %></span>
                        <span id='likeButton'>LIKES</span>
                    </li>
                <% } %>
            </ul>
        </section>
        
        <script src='/main.js'></script>

    </body>
</html>