* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Main ======================================================================== */
  
html{
    text-align: center;
    background: url('background01.png');
}
body{
    margin: 0 2%;
}
h1{
    color: white;
    margin: 5% 0%;
}
h1 + span{
    display: inline-block;
    color: white;
    margin-bottom: 2%;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
ul{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: .3%;
}
li{
    list-style: none;
    border: 3px solid lightgray;
    border-radius: 5px;
    background-color: rgb(207, 209, 209, .70);
    padding: 1%;
    margin-bottom: 2%;
}
li > h2{
    margin-top: 1%;
    margin-bottom: 1%;
}
li > span{
    font-size: 18px;
}
#inputContainer{
    border: 3px solid gray;
    border-radius: 5px;
    width: 40%;
    height: 40%;
    margin: .5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background-color: rgb(143, 141, 141, .50);
    position: fixed;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}
form input{
    margin-bottom: 5%;
}
form input + textarea{
    height: 100px;
    margin-bottom: 2%;
}
form button{
    width: 40%;
}